
.menu-drop-left {
    background-color: white;
    position: fixed;
    height: 100vh;
    z-index: 2;
    left: 0px;
    transition: 0.5s;
}  
.menu-drop-left-language-exit, .menu-drop-left-login-register {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    height: 75px;
}

.menu-drop-left-language {
    float: left;
    line-height: 75px;
    margin: 0px;
    margin-left: 15px;
    text-decoration: underline;
}

.menu-drop-left-drop-login-register:hover {
    opacity: 0.3;
}

.menu-drop-left-exit-drop-menu {
    float: right;
    margin: 0px;
    line-height: 75px;
    margin-right: 5px;
}

.menu-drop-left-glyphicon-remove {
    float: right;
    line-height: 75px;
    margin-right: 15px;
}

.menu-drop-left-login-register-drop,
.menu-drop-left-friends-drop {
    border-bottom: 1px solid #e6e6e6;
}

.menu-drop-left-login-register-drop-text,
.menu-drop-left-friends-drop-text {
    text-align: center;
    margin: 0px;
    font-size: 15px;
    line-height: 65px;
    font-weight: 600;
    opacity: 1;
}

.menu-drop-left-login-register-drop-text:hover,
.menu-drop-left-friends-drop-text:hover {
    opacity: 0.3;
}
