/* First mobile */
.language-exit, .login-register{
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    height: 75px;
}

.language {
    float: left;
    line-height: 75px;
    margin: 0px;
    margin-left: 15px; 
    text-decoration: underline;
}

.drop-login-register:hover {
    opacity: 0.3;
}

.exit-drop-menu{
    float: right;
    margin: 0px;
    line-height: 75px;
    margin-right: 5px;
}

.glyphicon-remove {
    float: right;
    line-height: 75px;
    margin-right: 15px;
}

.login-register-drop, 
.friends-drop {
    border-bottom: 1px solid #e6e6e6;
}

.login-register-drop-text, 
.friends-drop-text {
    text-align: center;
    margin:0px;
    font-size: 15px;
    line-height: 65px;
    font-weight: 600;
    opacity: 1;
}

.login-register-drop-text:hover,
.friends-drop-text:hover{
    opacity: 0.3;
}
