@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0.5;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0.5;
    }
  }

.board {
    width: 600px;
    transition: 2s;
    background-color: white;
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid gray;
}

.board-wait-text {
    width: 70%;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    top: 275px;
    left: 15%;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    position: absolute;
    background-color: dimgray;
}

.board-wait-decision-text {
    width: 50%;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    top: 275px;
    left: 25%;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    position: absolute;
    background-color: dimgray;
}

.spinner {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 350px;
    left: 250px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .board-scale {
    height: 75px;
    width: 75px;
    line-height: 75px;
    color: white;
    text-align: center;
    position: relative;
    border: 1px dotted white;
    position: absolute;
  }

  .board-figures {
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    transition: 1s;
  }

  .board-figures:hover {
    cursor: pointer;
  }

  .board-check-your-move {
    position: absolute;
    width: 400px;
    height: 90px;
    top: -95px;
    left: 100px;
    text-align: center;
    background-color: rgb(169, 169, 169);
    border-radius: 10px;
  }

  .board-check-your-move-loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid dimgray; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 11.25px;
    margin-top: 5px;
    animation: spin 1s linear infinite;
  }

  .board-check-your-move-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 25px;
  }

  .spinner-figure {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: wheat;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  .board-next-position {
    position: absolute;
    border: 5px solid wheat;
    width: 75px;
    height: 75px;
    z-index: 3;
  }

  .board-next-position-alert {
    position: absolute;
    border: 5px solid rgb(220, 53, 69);
    width: 75px;
    height: 75px;
    z-index: 2;
  }

  .board-next-position-point {
    width: 30px;
    position: relative;
    height: 30px;
    background-color: wheat;
    border-radius: 50%;
    margin-left: 17.5px;
    margin-top: 17.5px;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    z-index: 3;
  }

  .spinner-figure-dangerous {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(220, 53, 69);
        border-radius: 100%;  
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  .board-next-position-point-alert {
    width: 30px;
    position: relative;
    height: 30px;
    background-color: wheat;
    border-radius: 50%;
    margin-left: 17.5px;
    margin-top: 17.5px;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    z-index: 2;
  }

  .board-window-set-figures {
    position: absolute;
    width: 400px;
    height: 100px;
    top: -100px;
    border-radius: 20px;
    background-color: white;
    left: 100px;
  }

  .board-window-figure {
    float: left;
    width: 80px;
    height: 80px;
    background-color: dimgray;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 80px;
    filter: brightness(70%);
    transition: 0.5s;
  }

  .board-window-figure:hover {
    cursor: pointer;
    filter: brightness(100%);
  }

  .board-text-wait {
    position: absolute;
    top: 10px;
    left: 130px;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }

  .board-text-wait-user {
    position: absolute;
    top: 40px;
    left: 130px;
    font-size: 20px;
  }

  .board-end-game {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 100px;
    left: 37.5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 1px 1px 2px rgba(0,0,0,0.24);
    text-align: center;
  }

  .board-picture-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
  }

  .board-text-game-end {
    margin-top: 50px;
    font-size: 20px;
    border: 1px solid black;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
  }

  .board-exit-game-actually {
    width: 200px;
    height: 50px;
    border: unset;
    background-color: rgb(52, 58, 64);
    color: white;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }
