input:hover {
    cursor: pointer;
}

.register-login {
    position: fixed;
    z-index: 3;
}

.register-login-background {
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

.register-login-table {
    position: fixed;
    height: 80%;
    width: 90%;
    left: 5%;
    top: 10%;
    background-color: white;
    z-index: 3;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

.register-login-image {
    margin-top: 2%;
    height: 50px;
    width: 50px;
}

.register-login-exit-validation {
    position: absolute;
    right: 2%;
    top: 2%;
    border: 1px solid orange;
    border-radius: 10px;
    width: 60px;
    background-color: orange;
    height: 30px;
}

.login-register-glyphicon-remove {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}

.login-register-exit-menu {
    float: right;
    margin: 0px;
    line-height: 50px;
    margin-right: 5px;
}

.login-register-exit-menu:hover {
    cursor: pointer;
}

.register-login-exit-validation:hover {
    filter: drop-shadow(8px 8px 10px gray);
    cursor: pointer;
}

.register-login-text {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    margin-top: 5%;
}

.register-login-form-register {
    width: 100%;
    margin-top: 20px;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.register-login-form-login {
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.register-login-form-register-input, 
.register-login-form-login-input {
    width: 80%;
    border: unset;
    font-size: 12px;
}

.register-login-form-register-input:focus, 
.register-login-form-login-input:focus {
    outline: unset;
}

.register-login-form-register-input:hover, 
.register-login-form-login-input:hover {
    cursor: pointer;
}

.register-login-form-register-underline {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    margin-bottom: 30px;
    position: relative;
}

.register-login-button-register-login-next-step {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-top: 25px;
}

.register-login-button-register-login-last-step {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-top: 25px;
}

.register-login-button-login {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    margin-bottom: 20px;
}

.register-login-button-login:hover,
.register-login-button-register-login-next-step:hover,
.register-login-button-register-login-last-step:hover {
    cursor: pointer;
}

.register-login-button-login:focus,
.register-login-button-register-login-next-step:focus,
.register-login-button-register-login-last-step:focus
 {
    outline: unset;
}

.register-login-form-register-pointers {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.register-login-form-register-pointer {
    background-color: gray;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.register-login-form-register-already-account {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}

.register-login-form-register-already-account:hover {
    text-decoration: underline;
    cursor: pointer;
}

.register-login-register-complete {
    z-index: 4;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: block;
}

.register-login-register-complete-block {
    position: absolute;
    width: 80%;
    height: 100px;
    left: 10%;
    top: 40%;
    background-color: white;
    transition: 1s;
    border-radius: 5px;
    text-align: center;
}

.register-login-register-complete-text {
    color: black;
    font-size: 15px;
    line-height: 100px;
}

.register-login-register-complete-img {
    height: 20px;
    width: 20px;
}

.register-login-progress-bar-register-upload-picture {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-login-register-upload-input {
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
    margin-bottom: 10px;
    width: 0px;
    visibility: hidden;
}

.register-login-choose-file {
    cursor: unset;
    height: 25px;
    width: 150px;
    padding: 0px;
}

.register-login-choose-file:hover {
    cursor: pointer;
}

.register-login-text-register-add-picture {
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 12px;
}

.register-regular {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.register-login-login-users-table {
    position: fixed;
    height: 80%;
    width: 90%;
    left: 5%;
    top: 10%;
    background-color: white;
    z-index: 3;
    border-radius: 20px;
    text-align: center;
}

.register-login-save-password {
    text-align: center;
    font-size: 15px;
}

.register-login-remember-password {
    margin-top: 15px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 15px;
}

.register-login-remember-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

.register-login-form-login-already-account {
    margin-top: 10px;
}

.register-login-form-login-already-account:hover {
    text-decoration: underline;
    cursor: pointer;
}

.register-login-table-wrong-password-login {
    background-color: rgb(217, 83, 79);
    position: absolute;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 11px;
    top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    z-index: 1;
    transition: 0.5s;
}

.register-login-arrow-up-wrong {
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 10px;
    transition: 0.5s;
}

.register-login-check-save-password {
    height: 12px;
    width: 12px;
}

.register-login-regular {
    color: #0081AF;
}

.register-login-regular:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-register-bad-validation {
    position: absolute;
    background-color: red;
    height: 100px;
    width: 100px;
}

.register-login-validation {
    width: 100%;
    height: 25px;
    top: 5px;
    background-color: red;
    position: absolute;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .register-login-table {
        width: 80%;
        left: 10%;
    }

    .register-login-image {
        height: 75px;
        width: 75px;
    }

    .register-login-exit-validation {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    .register-login-form-register {
        margin-top: 20px;
        height: 40%;
        width: 70%;
        margin-bottom: 0px;
    }

    .register-login-form-register-input {
        font-size: 15px;
    }

    .register-login-form-register-underline {
        margin-bottom: 30px;
    }

    .register-login-text {
        font-size: 20px;
    }

    .login-register-exit-menu {
        line-height: 40px;
    }

    .login-register-glyphicon-remove {
        margin-top: 12px;
    }

    .register-login-form-register-pointers {
        width: 200px;
    }

    .register-login-button-register-login-next-step {
        margin-top: 5px;
        height: 40px;
        font-size: 15px;
        margin-bottom: 5px;
        width: 150px;
    }

    .register-login-form-register-pointer {
        width: 10px;
        height: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
    }

    .register-login-form-register-already-account {
        font-size: 12px;
    }

    .register-login-text-register-add-picture {
        font-size: 20px;
    }

    .register-login-choose-file {
        height: 40px;
        font-size: px;
        width: 150px;
    }

    .register-login-progress-bar-register-upload-picture {
        height: 15px;
    }

    .register-regular {
        font-size: 12px;
        width: 70%;
    }

    .register-login-register-complete-block {
        width: 80%;
        left: 10%;
        height: 100px;
        border-radius: 10px;
    }

    .register-login-register-complete-text {
        font-size: 20px;
        line-height: 100px;
    }

    .register-login-register-complete-img {
        height: 35px;
        width: 35px;
    }

    .register-login-login-users-table {
        width: 80%;
        left: 10%;
        transition: 0.5s;
    }

    .register-login-button-register-login-last-step {
        margin-top: 15px;
        height: 40px;
        font-size: 15px;
        margin-bottom: 5px;
        width: 150px;
    }

    .register-login-validation {
        font-size: 12px;
        height: 20px;
    }

    .register-login-form-login {
        height: 150px;
    }

    .register-login-form-login-input {
        font-size: 18px;
    }

    .register-login-remember-password {
        margin-bottom: 30px;
    }

    .register-login-button-login {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (min-width: 1024px) {
    .register-login-table {
        width: 60%;
        left: 20%;
        height: 90%;
        top: 5%;
    }

    .register-login-login-users-table {
        width: 50% !important;
        left: 25% !important;
    }

    .register-login-image {
        height: 100px;
        width: 100px;
    }

    .register-login-exit-validation {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }

    .login-register-exit-menu {
       line-height: 30px;
       margin-left: 8px;
    }

    .login-register-glyphicon-remove {
        margin-top: 7px;
    }

    .register-login-form-register {
        margin-top: 15px;
        height: 40%;
        width: 50%;
    }

    .register-login-form-register-input {
        font-size: 15px;
    }

    .register-login-form-register-underline {
        margin-bottom: 35px;
    }

    .register-login-text {
        font-size: 20px;
        margin-top: 10px;
    }

    .register-login-form-register-pointers {
        width: 400px;
    }

    .register-login-button-register-login-next-step {
        height: 50px;
        width: 200px;
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 0px;
    }

    .register-login-form-register-pointer {
        width: 20px;
        height: 20px;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 20px;
    }

    .register-login-form-register-already-account {
        font-size: 15px;
        margin-top: 10px;
    }

    .register-login-text-register-add-picture {
        font-size: 15px;
    }

    .register-login-choose-file {
        height: 40px;
        font-size: 20px;
        width: 150px;
    }

    .register-login-progress-bar-register-upload-picture {
        height: 25px;
    }

    .register-regular {
        font-size: 15px;
        width: 70%;
    }

    .register-login-register-complete-block {
        width: 60%;
        left: 20%;
        height: 100px;
        border-radius: 10px;
    }

    .register-login-register-complete-text {
        font-size: 20px;
        line-height: 100px;
    }

    .register-login-register-complete-img {
        height: 35px;
        width: 35px;
    }

    .register-login-login-users-table {
        width: 80%;
        left: 10%;
        transition: 0.5s;
    }

    .register-login-button-register-login-last-step {
        height: 50px;
        width: 200px;
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 60px;
    }

    .register-login-validation {
        font-size: 12px;
        height: 20px;
    }
    
}

