.notifications-friends {
    float: left;
    position: relative;
    line-height: 75px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 600;
    z-index: 3;
}

.notifications-friends-icon {
    opacity: 0.5;
    font-size: 20px;
    line-height: 75px;
}

.notifications-friends:hover .notifications-friends-icon {
    opacity: 1;
    cursor: pointer;
}

.notifications-friends-new-notifications {
    position: absolute;
    top: -3px;
    z-index: 1;
    color: red;
    left: 15px;
    font-size: 30px;

}

.notifications-friends-title {
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 50px;
    top: 0px;
    background-color: rgb(55, 57, 64);
    text-align: center;
    color: white;
    line-height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    left: -5px;
}

.notifications-friends-title-exit {
    display: block;
    float: right;
    line-height: 50px;
    margin-right: 15px;
}

.notifications-friends-title-exit:hover {
    cursor: pointer;
}

.notifications-friends-table {
    position: absolute;
    background-color: rgb(241, 241, 241);
    width: 250px;
    max-height: 200px;
    top: 50px;
    left: -5px;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.notifications-friends-arrow {
    position: absolute;
    top: -20px;
}

.notifications-friends-invite-image {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.notifications-friends-invite-button {
    width: 40%;
    margin: 5%;
    margin-top: 0px;
}

.notifications-friends-invite-underline {
    background-color: rgb(55, 57, 64);
    width: 100%;
    height: 1px;
    margin-top: 10%;
}

.notifications-friends-isfriends {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
    line-height: 0px;
    margin-top: 5px;
    text-align: center;
}

.notifications-show-table {
    position: fixed;
    bottom: 5%;
    right: 5%;
    overflow: auto;
    max-height: 800px;

}
.notifications-show-table::-webkit-scrollbar{
    display: none;
}

.notifications-show-new {
    position: relative;
    margin-bottom: 5px;
    width: 300px;
    height: 100px;
    border: 1px solid rgb(55, 57, 64);
    background-color: rgb(241, 241, 241);
}

.notifications-show-new-image {
    height: 98px;
    width: 98px;
    float: left;
}

.notifications-show-new-user {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

.notifications-show-new-text {
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.notifications-show-new-exit {
    position: absolute;
    right: 5px;
    top: 5px;
}