/* First Mobile */
.nav  {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;     
}

.nav-button {
    position: relative;
    float: left;
    padding: 17px;
  }

  .nav-button div:nth-child(1), .nav-button div:nth-child(3) {
    width: 15px;
    background-color:gray;
    margin: 3px 0;
  }

  .nav-button div:nth-child(2) {
    width: 25px;
    background-color: gray;
    margin: 3px 0;
  }

  .nav-button-width {
      background-color: black !important;
      width: 100% !important;
      height: 3px;
      transition: 0.5s;
  }

  .nav p {
      float: left;
      line-height: 56px;
      margin: 0px;
      border-right: 1px solid #e6e6e6;
      width: 70px;
      color: black;
      transition: 0.5s;
      opacity: 1;
  }

  .drop-menu:hover .nav-button-width  {
    width: 0% !important;
    transition: 0.5s;
  }

    .drop-menu:hover  p {
        opacity: 0.3;
    }

    .nav-option {
        float: right;
        width: 420px;
        display: none;
    }

    .nav-option img {
        float: right;
        margin-top: 3.5px;
        margin-left: 10px;
    }

    .nav-option p:nth-child(2) {
        border: unset;
        float: right;
        width: 180px;
        font-size: 15px;
        transition: unset;
        font-weight: bold;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .nav-option p:nth-child(2):hover {
        opacity: 0.3;
    }

    .nav-option p:nth-child(3) {
        border: unset;
        text-align: center;
        float: right;
        width: 180px;
        font-size: 15px;
        transition: unset;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-left: 1px solid #e6e6e6;
    }

  
  /* Section user action */


/* Tablet */

@media only screen and (min-width: 768px) { 
    .nav-option {
        display: block;
    }
   
}
