/* First Mobile */
.nav  {
    background-color: white;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    z-index: 2;     
}

.nav-button {
    position: relative;
    float: left;
    padding: 26px;
  }

  .nav-button-contain-1 {
    width: 15px;
    background-color:gray;
    margin: 3px 0;
  }

  .nav-button-contain-2 {
    width: 25px;
    background-color: gray;
    margin: 3px 0;
  }

  .nav-button-contain-3 {
    width: 20px;
    background-color: gray;
    margin: 3px 0;
  }

  .nav-button-width {
      background-color: black !important;
      width: 100% !important;
      height: 3px;
      transition: 0.5s;
  }

  .nav-text-button {
      float: left;
      line-height: 75px;
      margin: 0px;
      border-right: 1px solid #e6e6e6;
      width: 70px;
      color: black;
      transition: 0.5s;
      opacity: 1;
  }

  .drop-menu:hover .nav-button-width {
    width: 0% !important;
    transition: 0.5s;
  }
  .drop-menu:hover .nav-text-button{
      opacity: 0.3 !important;
  }
  
    .icon-nav {
        float: left;
        background-color: white !important;
        opacity: 0.5;
        margin-top: 22.5px !important;
        margin-left: 3%;
        margin-right: 3%;
    }

    .icon-nav:hover {
        color: black !important;
        opacity: 1;
    }

    .nav-option {
        float: right;
        display: none;
    }

    .users {
        float: right;
        margin-top: 12.5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-register-login {
        border: unset;
        line-height: 75px;
        float: right;
        transition: unset;
        font-weight: bold;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .nav-register-login:hover {
        opacity: 0.3;
    }

    .nav-member {
        border: unset;
        line-height: 75px;
        text-align: center;
        float: right;
        transition: unset;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-left: 1px solid #e6e6e6;
    }

  
  /* Section user action */


/* Tablet */

@media only screen and (min-width: 768px) { 
    .nav-option {
        display: block;
        width: 360px;
    }

    .nav-register-login, .nav-member  {
        width: 140px;
        font-size: 12px;
    }

    .icon-nav {
        margin-left: 2%;
        margin-right: 2%;
    }
   
}

/* Deskopt */
@media only screen and (min-width: 1024px) {
    .nav-option {
        width: 460px;
    }

    .nav-register-login, .nav-member  {
        width: 190px;
        font-size: 15px;    
    }

    .icon-nav {
        margin-left: 4%;
        margin-right: 4%;
    }
}
