
.login-register {
    display: none;
    position: fixed;
    z-index: 3;
}

.register-login {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.register-login-table{
    position: fixed;
    height: 90vh;
    width: 90%;
    left: 5%;
    top: 5%;
    background-color: white;
    z-index: 3;
    opacity: 0;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

.register-login-image {
    margin-top: 20px;
    height: 150px;
    width: 150px;
}

.exit-validation-register-login{ 
    position: absolute;
    right: 2%;
    top: 4%;
    opacity: 0.5;
}
.exit-validation-register-login:hover {
    opacity: 1;
}


.register-login-text-1 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
}

.form-register{ 
    width: 60%;
    margin-top: 50px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.form-login {
    width: 60%;
    margin-top: 50px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.form-register-input, .form-login-input {
    width: 60%;
    border: unset;
    font-size: 20px;
}

.form-register-input:focus, .form-login-input:focus {
    outline: unset;
}

.form-register-underline{
    width: 60%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    margin-bottom: 30px;
    position: relative;
}

.button-register-login-next-step {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 40%;
    height: 80px;
    border-radius: 40px;
}

.button-login {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 40%;
    height: 80px;
    border-radius: 40px;
    position: relative;
}

.button-login:hover {
    cursor: unset;
}

.button-login:focus {
    outline: unset;
}

.button-register-login-next-step:hover {
    cursor: unset;
}

.button-register-login-next-step:focus {
    outline: unset;
}

.form-register-pointers {
    width: 200px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.form-register-pointer{
    background-color: gray;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.form-register-already-account{ 
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
    opacity: 0.5;
}

.form-register-already-account:hover {
    opacity: 1;
}

.register-complete {
    z-index: 4;
    opacity: 1;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
}

.register-complete-block {
    position: absolute;
    width: 60%;
    height: 100px;
    left: 20%;
    top: 40%;
    background-color: white;
    opacity: 0;
    transition: 1s;
    border-radius: 5px;
    text-align: center;
}

.register-complete-text {
    color: black;
    font-size: 15px;
    line-height: 100px;
}

.register-complete-img {
    height: 20px;
    width: 20px;
}

.progress-bar-register-upload-picture {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.register-upload-input {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-bottom: 10px;
    width: 0px;
}

.choose-file {
    cursor: unset;
}

.login-users-table{
    position: fixed;
    height: 90vh;
    width: 90%;
    left: 5%;
    top: 5%;
    background-color: white;
    z-index: 3;
    opacity: 0;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
    display: none;
}

.text-register-add-picture {
    margin-bottom: 20px;
    font-weight: bold;
}

.register-regular {
    border: 1px solid black;
    width: 80%;
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow: auto;
    margin-bottom: 20px;
}

.save-password {
    margin-top: 25px;
    text-align: center;
}

.remember-password {
    margin-top: 25px;
    margin-bottom: 200px;
    text-align: center;
    opacity: 0.5;
}

.form-login-already-account {
    opacity: 0.5;
}

.form-login-already-account:hover, .remember-password:hover {
    opacity: 1;
}

.table-wrong-password-login {
    background-color: rgb(217, 83, 79) ;
    position: absolute;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 11px;
    top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.arrow-up-wrong{
    position: absolute;
    z-index: 0;
    z-index: 2;
    top: 2px;
    left: 10px;
    transition: 0.5s;
    opacity: 0;
}

@media only screen and (min-width: 768px) { 
    .register-login-table{
        width: 80%;
        left: 10%;
    }

    .form-register-pointers {
        width: 400px;
    }

    .form-register-pointer {
        width: 20px;
        height: 20px;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 20px;
    }

    .register-complete-block {
        width: 80%;
        left: 10%;
        height: 100px;
        border-radius: 10px;
    }

    .register-complete-text {
        font-size: 20px;
        line-height: 100px;
    }

    .register-complete-img {
        height: 35px;
        width: 35px;
    }

    .login-users-table{
        width: 80%;
        left: 10%;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 1024px) {
    .register-login-table{
        width: 50%;
        left: 25%;
    }

    .register-complete-block {
        width: 80%;
        left: 10%;
        height: 200px;
        border-radius: 20px;
    }

    .register-complete-text {
        font-size: 40px;
        line-height: 200px;
    }

    .register-complete-img {
        width: unset;
        height: unset;
    }

    .login-users-table{
        width: 50%;
        left: 25%;
    }
}
