/* First mobile*/
.friends {
    position: fixed;
    z-index: 3;
}

.friends-background {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: black;
    transition: 0.5s;
}

.friends-table {
    position: fixed;
    height: 90vh;
    width: 90%;
    left: 5%;
    top: 5%;
    background-color: white;
    z-index: 3;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

.friends-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #222130;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.friends-users-profile-table {
    position: relative;
    width: 90%;
    height: 25%;
    display: block;
    margin-top: 3.5%;
    margin-left: 5%;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    background-color: #f2f7f8;
}

.friends-image-users-section {
    width: 100%;
    height: 50px;
}

.friends-image-users {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 2px solid  #ceccdb;
}

.friends-name-users {
    margin-top: 2.5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

.friends-name-users-text {
    font-size: 20px !important;
}

.friends-list-users,
.friends-ranking-users {
    margin-top: 2.5px;
    border: 1px solid #e6e6e6;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 15px;
    background-color: #222130;
    color: white;
}

.friends-number {
    background-color: blue;
}

.friends-ranking {
    background-color: blueviolet;
}

.friends-name-users-text,
.friends-list-users-text,
.friends-ranking-users-text {
    font-size: 15px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
}

.friends-users {
    position: relative;
    width: 90%;
    height: 450px;
    display: block;
    margin-top: 35px;
    margin-left: 5%;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #f2f7f8;
}

.friends-users:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.friends-users-your-friends{
    float: left;
    width: 46%;
    margin-top: 10px;
    margin-left: 4%;
    height: 30px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}

.friends-users-search-friends {
    float: left;
    width: 46%;
    margin-top: 10px;
    margin-left: 0px;
    border-bottom-left-radius: 15px;
    height: 30px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}

.friends-users-table{
    margin-left: 4%;
    width: 92%;
    height: 85%;
    float: left;
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    border-bottom-left-radius: 15px;
    border-bottom: 2px solid #e6e6e6;
    border-bottom-right-radius: 15px;
}

.friends-exit-section {
    opacity: 0.5;
}

.friends-exit-section:hover {
    opacity: 1;
}

.friends-exit-icon {
    float: unset;
    line-height: 30px;
}

.friends-exit {
    margin-right: 5px;
}

.friends-search-username {
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
}

.friends-search-advanced {
    border-radius: 10px;
    background-color: #222130;
    color: white;
    width: 80%;
    margin-top: 10px;
}

.friends-window-users {
    width: 95%;
    height: 70%;
    overflow: auto;
    margin-left: 2.5%;
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    background-color: white;
}

.friends-users-list {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e6e6e6;
}

.friends-users-list-image {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 25px;
}

.friends-users-list-information-1 {
    float: left;
    width: 25%;
    margin: 5px;
    margin-left: 10%;
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 11px;
    background-color: #222130;
    color: white;
}

.friends-users-list-information-2 {
    float: left;
    width: 25%;
    margin: 5px;
    margin-left: 10%;
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 11px;
    background-color: #222130;
    color: white;
}

.friends-button-add-friends {
    margin-top: 10px;
    float: left;
    margin-left: 10%;
    width: 60%;
}

.friends-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
    .friends-users-profile-table {
        height: 170px;
        margin-top: 25px;
    }

    .friends-image-users-section {
        float: left;
        width: unset;
        height: unset;
    }

    .friends-image-users {
        width: 125px;
        height: 125px;
        margin-top: 22.5px;
        margin-left: 50px;
    }

    .friends-name-users {
        float: right;
        width: 62%;
        margin-right: 15px;
        height: 50px;
        margin-top: 25px;
    }

    .friends-name-users-text {
        font-size: 30px !important;
        line-height: 50px;
    }

    .friends-list-users,
    .friends-ranking-users {
        float: right;
        width: 30%;
        margin-right: 15px;
        height: 50px;
        margin-top: 25px;
    }

    .friends-list-users-text,
    .friends-ranking-users-text {
        font-size: 20px;
        line-height: 50px;
    }

    .friends-users {
        margin-top: 20px;
        height: 500px;
    }

    .friends-users-table {
        height: 85%;
    }
    .friends-users-list-image {
        width: 75px;
        height: 75px;
        margin-top: 12.5px;        
    }
}

@media only screen and (min-width: 1024px) {
    .friends-users-profile-table {
        height: 35%;
        float: left;
        width: 25%;
    }

    .friends-image-users-section {
        float: unset;
        width: 100%;
        height: 50px;
    }

    .friends-image-users {
        width: 100px;
        height: 100px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .friends-name-users {
        float: unset;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        margin-top: 55px;
    }

    .friends-name-users-text {
        font-size: 15px;
        line-height: 30px;
    }

    .friends-list-users,
    .friends-ranking-users {
        float: unset;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        margin-top: 25px;
    }

    .friends-list-users-text,
    .friends-ranking-users-text {
        font-size: 15px;
        line-height: 30px;
    }

    .friends-users {
        height: 80%;
        float: right;
        width: 60%;
        margin-right: 5%;
        margin-top: 25px;
    }

    .friends-exit-section {
        float: left;
        margin-left: 13%;
        margin-top: 20px;
    }

    .friends-users-table {
        height: 90%;
    }

    .friends-search-username {
        width: 40%;
    }
    
    .friends-search-advanced {
        width: 40%;
        margin-right: unset;
        margin-left: 5%;
    }

    .friends-window-users {
        height: 85%;
    }
}

