.menu-game {
    height: 800px;
    background-color: rgba(0,10,10,0.3);
    position: relative;
    float: right;
    transition: 1s;
    overflow-y: hidden;
}

.menu-game:hover {
    overflow-y: auto;
}

.menu-game-title {
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid darkgray;
}

.menu-game-option {
    color: white;
    text-align: center;
    min-height: 50px;
    width: 100%;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-bottom: 1px solid darkgray;
    transition: 0.5s;
    position: relative;
}

.menu-game-option:hover {
    background-color: dimgray;
    transition: 0.5s;
    cursor: pointer;
}

.menu-game-images {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    font-family: 'Indie Flower', cursive;
    color: darkgray;
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid darkgray;
}

.menu-game-image-right {
    float: left;
    margin-left: 20px;
}

.menu-game-image-left {
    float: right;
    margin-right: 20px;
}

.menu-game-arrow {
    margin-left: 10px;
    font-size: 10px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 20px;
}

.menu-game-option:hover .menu-game-arrow {
    opacity: 1;
}

.menu-game-friends {
    width: 100%;
    transition: 0.5s;
    text-align: left;
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: hidden;
}

.menu-game-friends:hover {
    overflow-y: auto;
    cursor: default;
}

.menu-game-friends::-webkit-scrollbar,
.menu-game::-webkit-scrollbar {
    width: 8px;
}

.menu-game-friends::-webkit-scrollbar-track,
.menu-game::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.menu-game-friends::-webkit-scrollbar-thumb,
 {
    background-color: dimgray;
    outline: 1px solid black;
}

.menu-game::-webkit-scrollbar-thumb {
    background-color: rgb(218, 216, 216);
}

.menu-game-friend {
    height: 50px;
    width: 100%;
    position: relative;
}

.menu-game-friend:hover {
    cursor: default;
}

.menu-game-friend-border {
    float: left;
    margin: 0px;
    border-left: 2px dotted;
    margin-left: 20px;
}

.menu-game-friend-dotted {
    float: left;
    margin: 0px;
    padding-left: 5px;
}

.menu-game-friend-image {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.menu-game-friend-name {
    width: 100px;
    margin: 0px;
    margin-left: 10px;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.menu-game-friend-send-invite {
    margin-left: 10px;
    background-color: rgb(40, 167, 69);
    border: 1px solid rgb(40, 167, 69);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-game-friend-delete-invite {
    margin-left: 10px;
    background-color: rgb(255, 193, 7);
    border: 1px solid rgb(255, 193, 7);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
    color: black;
}

.menu-game-friend-accepted-invite {
    margin-left: 5px;
    background-color: rgb(40, 167, 69);
    border: 1px solid rgb(40, 167, 69);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-game-friend-delete-get-invite {
    margin-left: 5px;
    background-color: rgb(255, 193, 7);
    border: 1px solid rgb(255, 193, 7);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
    color: black;
}

.menu-game-friend-send-invite:hover,
.menu-game-friend-delete-invite {
    cursor: pointer;
}

.menu-game-friend-status {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid dimgray;
}

.menu-game-friend-status-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.menu-game-friend-status-name {
    margin: 0px;
    height: 25px;
    line-height: 25px;
}

.menu-game-friend-set-game,
.menu-game-friend-delete-player {
    width: 80%;
    height: 30px;
    line-height: 0px;
    border: unset;
    border-radius: 5px;
}

.menu-game-friend-set-game {
    background-color: rgb(52, 58, 64);
}
.menu-game-friend-delete-player {
    background-color: rgb(220, 53, 69);
    margin-bottom: 20px;
}

.menu-game-friend-actually {
    width: 100%;
    text-align: center;
}

.menu-game-friend-actually-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}
