.menu-game {
    height: 800px;
    background-color: rgba(0,10,10,0.3);
    position: relative;
    float: right;
    transition: 1s;
    overflow-y: auto;
}

.menu-game-title {
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid darkgray;
}

.menu-game-option {
    color: white;
    text-align: center;
    min-height: 50px;
    width: 100%;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-bottom: 1px solid darkgray;
    transition: 0.5s;
    position: relative;
}

.menu-game-option:last-child {
    position: absolute;
    top:740px;
    border-bottom: unset;
    border-top: 1px solid darkgray;
}

.menu-game-option:hover {
    background-color: dimgray;
    transition: 0.5s;
    cursor: pointer;
}

.menu-game-images {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    font-family: 'Indie Flower', cursive;
    color: darkgray;
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid darkgray;
}

.menu-game-image-right {
    float: left;
    margin-left: 20px;
}

.menu-game-image-left {
    float: right;
    margin-right: 20px;
}

.menu-game-arrow {
    margin-left: 10px;
    font-size: 10px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 20px;
}

.menu-game-option:hover .menu-game-arrow {
    opacity: 1;
}

.menu-game-friends {
    width: 100%;
    transition: 0.5s;
    text-align: left;
    margin-bottom: 10px;
}

.menu-game-friend {
    height: 50px;
    width: 100%;
    position: relative;
}

.menu-game-friend:hover {
    cursor: default;
}

.menu-game-friend-border {
    float: left;
    margin: 0px;
    border-left: 2px dotted;
    margin-left: 20px;
}

.menu-game-friend-dotted {
    float: left;
    margin: 0px;
    padding-left: 5px;
}

.menu-game-friend-image {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.menu-game-friend-name {
    width: 100px;
    margin: 0px;
    margin-left: 10px;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.menu-game-friend-send-invite {
    margin-left: 10px;
    background-color: rgb(40, 167, 69);
    border: 1px solid rgb(40, 167, 69);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-game-friend-delete-invite {
    margin-left: 10px;
    background-color: rgb(255, 193, 7);
    border: 1px solid rgb(255, 193, 7);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
    color: black;
}

.menu-game-friend-accepted-invite {
    margin-left: 5px;
    background-color: rgb(40, 167, 69);
    border: 1px solid rgb(40, 167, 69);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-game-friend-delete-get-invite {
    margin-left: 5px;
    background-color: rgb(255, 193, 7);
    border: 1px solid rgb(255, 193, 7);
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
    color: black;
}

.menu-game-friend-send-invite:hover,
.menu-game-friend-delete-invite {
    cursor: pointer;
}