body {
  height: 1500px;
  overflow-x: hidden;
}

.App {
  transition: 1s;
  position: absolute;
  width: 100%;
  margin-left: 0%;
}

.AppRightSet-50 {
  position: absolute;
  margin-left: 50%;
  width: 100%;
  transition: 1s;
}

.AppRightSet-40 {
  position: absolute;
  margin-left: 40%;
  width: 100%;
  transition: 1s;
}

.AppRightSet-30 {
  position: absolute;
  margin-left: 30%;
  width: 100%;
  transition: 1s;
}

.hide-body {
  display: block;
  position: fixed;
  background-color: #6B6464;
  height: 100vh;
  width: 100%;
  z-index: 3;
  opacity: 0.1;
}

.picture-1 {
  float: left;
  height: 700px;
  width: 100%;
}

.parallax-1 {
  border-top: 2px solid #e6e6e6;
  background-image: url("./Images/picture-1.png");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-2 {
  float: left;
  height: 700px;
  width: 100%;
}

.parallax-2 {
  border-top: 2px solid #e6e6e6;
  background-image: url("./Images/picture-2.jpg");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
