body {
  cursor: url(Images/cursor-move.png), auto;
  height: 1500px;
}

input:hover {
  cursor: url(Images/cursor-move.png), auto;
}

.App {
  transition: 1s;
  position: absolute;
  width: 100%;
}

.menu-drop-left {
  background-color: white;
  position: fixed;
  height: 100vh;
  z-index: 2;
  left: 0px;
  transition: 0.5s;
  opacity: 0;
}

.hide-body {
  display: block;
  position: fixed;
  background-color: #6B6464;
  height: 100vh;
  width: 100%;
  z-index: 3;
  opacity: 0.1;
}

.picture-1 {
  float: left;
  height: 700px;
  width: 100%;
}

.parallax-1 {
  border-top: 2px solid #e6e6e6;
  background-image: url("./Images/picture-1.png");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-2 {
  float: left;
  height: 700px;
  width: 100%;
}

.parallax-2 {
  border-top: 2px solid #e6e6e6;
  background-image: url("./Images/picture-2.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
